.ScoreContainer{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
table {
    width: 80%;
  }
  img{
      height: 60px;
  }
  button{
      margin-top: 4px;
      margin-left: 4px;
  }